<html>
    <head>
        <title>Using Template Tag</title>
    </head>
<body>
    {% load ajax %}
    {% url "mymodels_list" as page_url %}
    {% get_pageloader page_url as pageloader %}
                        
    {{ pageloader.pagediv|safe }}
    {{ pageloader.loadbutton|safe }}
    {{ pageloader.pagination|safe }}

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/static/js/ajax.js"></script>
    <script>
        {{ pageloader.button_script|safe }}
    </script>
</html>
